.add {
  width: 160px;
  height: 48px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
  background-color: #ffe9b1;
  color: #7743db;
  font-weight: bold;
}
.add svg {
  transform: scale(1.3);
}
.add svg path {
  stroke: #7743db;
}
.add:hover {
  cursor: pointer;
  background-color: #7743db;
  color: #fcfdf2;
}
.add:hover svg path {
  stroke: #fcfdf2;
}
