.search {
  width: 100%;
  max-width: 400px;
  position: relative;
}
.search input {
  width: 100%;
  background: transparent;
  height: 40px;
  padding: 0 40px 0 16px;
  border-radius: 12px;
  font-size: 16px;
  color: #fcfdf2;
  border: 2px solid #7743db;
}
.search input::placeholder {
  color: #fcfdf2;
}
.search input:focus {
  border: 1px solid #ffe9b1;
}
.search svg {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  cursor: pointer;
}
